<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="@Url.Content("~/Content/Plugin/jquery.jscrollpane.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Plugin/jquery.jscrollpane.lozenge.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/Common/zTreeStyle/zTreeStyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/Base/Global.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Base/Util.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/jquery.jscrollpane.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/jquery.mousewheel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/jquery.ztree.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/Calender/lhgcalendar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/highcharts-3d.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/OpenLayers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/NestFramedCloud.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/RRteam_Controls.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/PanZoomBar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/LTZommAnimation.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/zdclient.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/tilelayer.local.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body>
    @RenderBody()
</body>
</html>
